In [32]:
import numpy as np
import pandas as pd
from pandas import Series

In [2]:
df = pd.read_csv("D:/dat1/SalesJan2009.csv", delimiter=',')

In [3]:
df.head()

,Transaction_date,Product,Price,Payment_Type,Name,City,State,Country,Account_Created,Last_Login,Latitude,Longitude
0,1/2/2009 6:17,Product1,1200,Mastercard,carolina,Basildon,England,United Kingdom,1/2/2009 6:00,1/2/2009 6:08,51.500000,-1.116667
1,1/2/2009 4:53,Product1,1200,Visa,Betina,Parkville,MO,United States,1/2/2009 4:42,1/2/2009 7:49,39.195000,-94.681940
2,1/2/2009 13:08,Product1,1200,Mastercard,Federica e Andrea,Astoria,OR,United States,1/1/2009 16:21,1/3/2009 12:32,46.188060,-123.830000
3,1/3/2009 14:44,Product1,1200,Visa,Gouya,Echuca,Victoria,Australia,9/25/2005 21:13,1/3/2009 14:22,-36.133333,144.750000
4,1/4/2009 12:56,Product2,3600,Visa,Gerd W,Cahaba Heights,AL,United States,11/15/2008 15:47,1/4/2009 12:45,33.520560,-86.802500

In [29]:
sdf = pd.Series([2,4.23,50,60])

In [31]:
sdf

0     2.00
1     4.23
2    50.00
3    60.00
dtype: float64

In [6]:
l = [2,4,5,6]
l

[2, 4, 5, 6]

In [7]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 4)
(2, 5)
(3, 6)

In [9]:
sdf[sdf > 20]

2    50.0
3    60.0
dtype: float64

In [10]:
sdf

0     2.00
1     4.23
2    50.00
3    60.00
dtype: float64

In [28]:
sdf = pd.Series([2,4.23,50,60], index=['row1','row2','row3','row4' ])
sdf

row1     2.00
row2     4.23
row3    50.00
row4    60.00
dtype: float64

In [25]:
sdf[3]

'Senthil'

In [26]:
type(sdf)

pandas.core.series.Series

In [33]:
l

[2, 4, 5, 6]

In [36]:
j = 4
count=0
for i in l:
    if i > j:
        print(i)
        count = count + 1

5
6

In [37]:
sdf[sdf > 29]

2    50.0
3    60.0
dtype: float64

In [39]:
sdf.shape

(4,)

In [40]:
sdf

0     2.00
1     4.23
2    50.00
3    60.00
dtype: float64

In [41]:
sdf.size

4

In [44]:
df = pd.read_csv("D:/dat1/warranty.csv", sep=',')

In [45]:
type(df)

pandas.core.frame.DataFrame

In [49]:
df.shape   #rows, columns

(26, 26)

In [50]:
df

,Row ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer Name,Segment,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order_Priority,Return,Returned
0,41520,MA-2013-1850,10/14/2013,10/15/2013,First Class,DH-3675,Duane Huffman,Home Office,Antananarivo,Analamanga,...,Machines,"StarTech Printer, Red","$1,519.92",6.0,0.0,653.400,286.20,Critical,No,0
1,47596,CG-2012-2700,12/22/2012,12/24/2012,Second Class,DH-3675,Duane Huffman,Home Office,Kinshasa,Kinshasa,...,Bookcases,"Dania Classic Bookcase, Traditional",$410.76,1.0,0.0,176.610,73.81,High,No,0
2,45892,EG-2014-710,9/3/2014,9/9/2014,Standard Class,DH-3675,Duane Huffman,Home Office,Damanhur,Al Buhayrah,...,Chairs,"Novimex Rocking Chair, Set of Two",534.72,4.0,0.0,58.800,41.78,Medium,No,0
3,48904,AU-2014-6170,2/17/2014,2/20/2014,Second Class,DH-3675,Duane Huffman,Home Office,Vienna,Vienna,...,Phones,"Apple Speaker Phone, Full Size",249.18,2.0,0.0,107.100,39.00,High,No,0
4,42850,TU-2013-3950,4/5/2013,4/6/2013,First Class,DH-3675,Duane Huffman,Home Office,Istanbul,Istanbul,...,Appliances,"Cuisinart Microwave, Red",111.38,1.0,0.6,-91.896,36.82,High,No,0
5,42855,TU-2013-3950,4/5/2013,4/6/2013,First Class,DH-3675,Duane Huffman,Home Office,Istanbul,Istanbul,...,Appliances,"Cuisinart Microwave, Red",111.38,1.0,0.6,-91.896,36.82,High,No,0
6,42655,AG-2011-1390,8/16/2011,8/21/2011,Standard Class,DH-3675,Duane Huffman,Home Office,Bejaia,Bejaia,...,Paper,"SanDisk Cards & Envelopes, Premium",581.04,12.0,0.0,220.680,35.32,Medium,No,0
7,43582,RS-2011-8340,4/13/2011,4/13/2011,Same Day,DH-3675,Duane Huffman,Home Office,Ufa,Bashkortostan,...,Accessories,"Logitech Memory Card, USB",414.36,4.0,0.0,66.240,28.68,Medium,No,0
8,47595,CG-2012-2700,12/22/2012,12/24/2012,Second Class,DH-3675,Duane Huffman,Home Office,Kinshasa,Kinshasa,...,Phones,"Apple Speaker Phone, VoIP",246.78,2.0,0.0,98.700,19.04,High,No,0
9,43580,RS-2011-8340,4/13/2011,4/13/2011,Same Day,DH-3675,Duane Huffman,Home Office,Ufa,Bashkortostan,...,Envelopes,"Kraft Peel and Seal, with clear poly window",96.12,4.0,0.0,25.920,10.81,Medium,No,0
10,43461,NI-2014-2000,6/17/2014,6/22/2014,Standard Class,DH-3675,Duane Huffman,Home Office,Port Harcourt,Rivers,...,Binders,"Acco 3-Hole Punch, Durable",56.92,6.0,0.7,-55.044,6.58,Medium,No,1
11,42849,TU-2013-3950,4/5/2013,4/6/2013,First Class,DH-3675,Duane Huffman,Home Office,Istanbul,Istanbul,...,Machines,"Epson Phone, White",31.75,1.0,0.6,-17.478,5.95,High,No,0
12,43581,RS-2011-8340,4/13/2011,4/13/2011,Same Day,DH-3675,Duane Huffman,Home Office,Ufa,Bashkortostan,...,Art,"BIC Pens, Water Color",69.84,4.0,0.0,28.560,5.93,Medium,No,1
13,41521,MA-2013-1850,10/14/2013,10/15/2013,First Class,DH-3675,Duane Huffman,Home Office,Antananarivo,Analamanga,...,Binders,"Wilson Jones Binder, Durable",14.52,1.0,0.0,0.570,5.32,Critical,No,0
14,41746,BU-2013-9680,9/9/2013,9/14/2013,Standard Class,DH-3675,Duane Huffman,Home Office,Sofia,Sofiya-Grad,...,Storage,"Tenex Shelving, Wire Frame",53.73,1.0,0.0,6.420,3.17,Medium,No,1
15,43578,RS-2011-8340,4/13/2011,4/13/2011,Same Day,DH-3675,Duane Huffman,Home Office,Ufa,Bashkortostan,...,Binders,"Wilson Jones Binding Machine, Durable",50.46,1.0,0.0,0.990,3.06,Medium,No,1
16,46792,IZ-2014-3850,12/11/2014,12/15/2014,Standard Class,DH-3675,Duane Huffman,Home Office,Baghdad,Baghdad,...,Binders,"Wilson Jones Binder, Clear",49.92,NaN,0.0,3.960,2.62,Medium,No,0
17,42656,AG-2011-1390,8/16/2011,8/21/2011,Standard Class,DH-3675,Rodger John,Home Office,Bejaia,Bejaia,...,Binders,"Ibico Binder Covers, Clear",26.22,2.0,0.0,1.800,2.41,Medium,No,0
18,44931,CA-2012-9860,6/12/2012,6/17/2012,Standard Class,DH-3675,Duane Huffman,Home Office,Brampton,Ontario,...,Paper,"Green Bar Computer Printout Paper, Recycled",29.67,1.0,0.0,2.670,2.05,Medium,No,0
19,46791,IZ-2014-3850,12/11/2014,12/15/2014,Standard Class,DH-3675,Duane Huffman,Home Office,Baghdad,Baghdad,...,Paper,"SanDisk Message Books, Multicolor",25.23,1.0,0.0,4.020,2.04,Medium,No,1
20,45674,TZ-2014-9260,5/8/2014,5/13/2014,Standard Class,DH-3675,Rodger John,Home Office,Moshi,Kilimanjaro,...,Envelopes,"Cameo Peel and Seal, Recycled",19.8,1.0,0.0,4.530,1.80,Medium,No,0
21,41745,BU-2013-9680,9/9/2013,9/14/2013,Standard Class,DH-3675,Duane Huffman,Home Office,Sofia,Sofiya-Grad,...,Paper,"Xerox Computer Printout Paper, Recycled",26.25,1.0,0.0,8.640,1.49,Medium,No,1
22,42851,TU-2013-3950,4/5/2013,4/6/2013,First Class,DH-3675,Duane Huffman,Home Office,Istanbul,Istanbul,...,Supplies,"Kleencut Ruler, Easy Grip",6.07,1.0,0.6,-8.808,1.20,High,No,1
23,43579,RS-2011-8340,4/13/2011,4/13/2011,Same Day,DH-3675,Rodger John,Home Office,Ufa,Bashkortostan,...,Envelopes,"Jiffy Business Envelopes, Recycled",18.36,1.0,0.0,3.300,1.20,Medium,No,1
24,46793,IZ-2014-3850,12/11/2014,12/15/2014,Standard Class,DH-3675,Rodger John,Home Office,Baghdad,Baghdad,...,Furnishings,"Rubbermaid Light Bulb, Black",18.84,NaN,0.0,8.460,0.93,Medium,No,0
25,47999,CG-2012-2700,12/22/2012,12/24/2012,Second Class,DH-3675,Duane Huffman,Home Office,Kinshasa,Kinshasa,...,Phones,"Apple Speaker Phone, VoIP",246.78,2.0,0.0,98.700,19.04,High,No,0

In [43]:
df.head() # to display top 5 records

,Row ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer Name,Segment,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order_Priority,Return,Returned
0,41520,MA-2013-1850,10/14/2013,10/15/2013,First Class,DH-3675,Duane Huffman,Home Office,Antananarivo,Analamanga,...,Machines,"StarTech Printer, Red","$1,519.92",6.0,0.0,653.400,286.20,Critical,No,0
1,47596,CG-2012-2700,12/22/2012,12/24/2012,Second Class,DH-3675,Duane Huffman,Home Office,Kinshasa,Kinshasa,...,Bookcases,"Dania Classic Bookcase, Traditional",$410.76,1.0,0.0,176.610,73.81,High,No,0
2,45892,EG-2014-710,9/3/2014,9/9/2014,Standard Class,DH-3675,Duane Huffman,Home Office,Damanhur,Al Buhayrah,...,Chairs,"Novimex Rocking Chair, Set of Two",534.72,4.0,0.0,58.800,41.78,Medium,No,0
3,48904,AU-2014-6170,2/17/2014,2/20/2014,Second Class,DH-3675,Duane Huffman,Home Office,Vienna,Vienna,...,Phones,"Apple Speaker Phone, Full Size",249.18,2.0,0.0,107.100,39.00,High,No,0
4,42850,TU-2013-3950,4/5/2013,4/6/2013,First Class,DH-3675,Duane Huffman,Home Office,Istanbul,Istanbul,...,Appliances,"Cuisinart Microwave, Red",111.38,1.0,0.6,-91.896,36.82,High,No,0

In [55]:
df.dtypes

Row ID              int64
Order_ID           object
Order_Date         object
Ship_Date          object
Ship_Mode          object
Customer_ID        object
Customer Name      object
Segment            object
City               object
State              object
Country            object
Postal Code       float64
Market             object
Region             object
Product ID         object
Category           object
Sub-Category       object
Product Name       object
Sales              object
Quantity          float64
Discount          float64
Profit            float64
Shipping_Cost     float64
Order_Priority     object
Return             object
Returned            int64
dtype: object

In [47]:
df.tail() # dispay bottom 5 records

,Row ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer Name,Segment,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order_Priority,Return,Returned
21,41745,BU-2013-9680,9/9/2013,9/14/2013,Standard Class,DH-3675,Duane Huffman,Home Office,Sofia,Sofiya-Grad,...,Paper,"Xerox Computer Printout Paper, Recycled",26.25,1.0,0.0,8.640,1.49,Medium,No,1
22,42851,TU-2013-3950,4/5/2013,4/6/2013,First Class,DH-3675,Duane Huffman,Home Office,Istanbul,Istanbul,...,Supplies,"Kleencut Ruler, Easy Grip",6.07,1.0,0.6,-8.808,1.20,High,No,1
23,43579,RS-2011-8340,4/13/2011,4/13/2011,Same Day,DH-3675,Rodger John,Home Office,Ufa,Bashkortostan,...,Envelopes,"Jiffy Business Envelopes, Recycled",18.36,1.0,0.0,3.300,1.20,Medium,No,1
24,46793,IZ-2014-3850,12/11/2014,12/15/2014,Standard Class,DH-3675,Rodger John,Home Office,Baghdad,Baghdad,...,Furnishings,"Rubbermaid Light Bulb, Black",18.84,NaN,0.0,8.460,0.93,Medium,No,0
25,47999,CG-2012-2700,12/22/2012,12/24/2012,Second Class,DH-3675,Duane Huffman,Home Office,Kinshasa,Kinshasa,...,Phones,"Apple Speaker Phone, VoIP",246.78,2.0,0.0,98.700,19.04,High,No,0

In [46]:
df.columns

Index(['Row ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping_Cost', 'Order_Priority', 'Return', 'Returned'],
      dtype='object')

In [87]:
df.loc[ df.Profit > 8.64,['Segment','Profit']] # square bracket is meant for subseting the data 
#df.loc[ df.Profit > 8.64] # square bracket is meant for subseting the data 
df.loc[ (df.Profit > 100) & (df.City == 'Kinshasa'),['Segment','Product Name','Profit']] # square bracket is meant for subseting the data

       Segment                         Product Name  Profit
1  Home Office  Dania Classic Bookcase, Traditional  176.61

In [82]:
# label based Search 
# df.loc[rows,columns]
# df.loc[start:end, [list of column names ]]
df.loc[0:4,['Segment','Profit']]
df.loc[[0,2,4,5],['Segment','Profit']]

       Segment   Profit
0  Home Office  653.400
2  Home Office   58.800
4  Home Office  -91.896
5  Home Office  -91.896

In [83]:
# integer based search 
df.iloc[0:4,[7,8]]
df.iloc[[0,2,4,5],[7,8]]

       Segment          City
0  Home Office  Antananarivo
2  Home Office      Damanhur
4  Home Office      Istanbul
5  Home Office      Istanbul